@model ViewModel.ViewModels.PersonaVM
eck if the user is authenticated an set the layoutC#


@{
    ViewData["Title"] = "Edit";
    if (Context.User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutAdm";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>Editar</h1>

<h4>Personas</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-lg-4 col-md-1 col-sm-1">
            <label asp-for="Nombres" class="control-label"></label>
            <input asp-for="Nombres" class="form-control" />
            <span asp-validation-for="Nombres" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-1 col-sm-1">
            <label asp-for="Apellidos" class="control-label"></label>
            <input asp-for="Apellidos" class="form-control" />
            <span asp-validation-for="Apellidos" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-1 col-sm-1">
            <label asp-for="NumeroDocumento" class="control-label"></label>
            <input asp-for="NumeroDocumento" class="form-control" />
            <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
            <label asp-for="IdTipoDocumento" class="control-label"></label>
            <select id="LstTipoDocumento" name="LstTipoDocumento" class="form-control">
                @foreach (var item in Model.LstTipoDocumento)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblTipoDocumento>(@item.Id,item))
                }
                </select>

            </div>
            <div class="col-lg-4 col-md-1 col-sm-1">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>

            <div class="col-lg-4 col-md-1 col-sm-1">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-1 col-sm-1">
                <label asp-for="Genero" class="control-label"></label>
                <select id="LstGenero" name="LstGenero" class="form-control">
                    @foreach (var item in Model.LstGenero)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblGenero>(@item.Id,item))
                }
                </select>

            </div>

            <div class="col-lg-4 col-md-1 col-sm-1">
                <label asp-for="OrientacionSexual" class="control-label"></label>
                <select id="lstOrientacionSexual" name="lstOrientacionSexual" class="form-control">
                    @foreach (var item in Model.LstOrientacionSexual)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblOrientacion>(@item.Id,item))
                }
                </select>
            </div>


            <div class="col-lg-4 col-md-1 col-sm-1">
                <label asp-for="IdentidadGenero" class="control-label"></label>
                <select id="lstIdentidadGenero" name="lstIdentidadGenero" class="form-control">
                    @foreach (var item in Model.LstIdentidadGenero)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblIdentidaDeGenero>(@item.Id,item))
                }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="JornadaTrabajo" class="control-label"></label>
                <select id="lstJrnTrabajo" name="lstJrnTrabajo" class="form-control">
                    @foreach (var item in Model.LstJornadaTrabajo)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblJornadaDeTrabajo>(@item.Id,item))
                }
                </select>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="Etnia" class="control-label"></label>
                <select id="lstEtnia" name="lstEtnia" class="form-control">
                    @foreach (var item in Model.LstEtnia)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblEtnia>(@item.Id,item))
                }
                </select>
            </div>

            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="Localidad" class="control-label"></label>
                <select id="lstLocalidad" name="lstLocalidad" class="form-control">
                    @foreach (var item in Model.LstLocalidad)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblLocalidadVive>(@item.Id,item))
                }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="TipoDiscapacidad" class="control-label"></label>
                <select id="lstTipoDiscapacidad" name="lstTipoDiscapacidad" class="form-control">
                    @foreach (var item in Model.LstDiscapacidad)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblDiscapacidad>(@item.Id,item))
                }
                </select>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="TipoVivienda" class="control-label"></label>
                <select id="lstTipoVivienda" name="lstTipoVivienda" class="form-control">
                    @foreach (var item in Model.LstTipoVivienda)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblTipoDeVivienda>(@item.Id,item))
                }
                </select>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="SeguridadSocial" class="control-label"></label>
                <select id="lstSeguridadSocial" name="lstSeguridadSocial" class="form-control">
                    @foreach (var item in Model.LstSeguridadSocial)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblSeguridadSocial>(@item.Id,item))
                }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="EstratiSocioEconomico" class="control-label"></label>
                <select id="lstEstratiSocioEconomico" name="lstEstratiSocioEconomico" class="form-control">
                    @foreach (var item in Model.LstEstratiSocioEconomico)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblEstratoSocioEconomico>(@item.Id,item))
                }
                </select>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="LocalidadTrabajo" class="control-label"></label>
                <select id="lstLocalidadTrabajo" name="lstLocalidadTrabajo" class="form-control">
                    @foreach (var item in Model.LstLocalidadTrabajo)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblLocalidadTrabaja>(@item.Id,item))
                }
                </select>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1">
                <label asp-for="JornadaTrabajo" class="control-label"></label>
                <select id="lstJornadaTrabajo" name="lstJornadaTrabajo" class="form-control">
                    @foreach (var item in Model.LstJornadaTrabajo)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblJornadaDeTrabajo>(@item.Id,item))
                }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="NivielEscolaridad" class="control-label"></label>
                <select id="lstNivielEscolaridad" name="lstNivielEscolaridad" class="form-control">
                    @foreach (var item in Model.LstNivielEscolaridad)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblNivelDeEscolaridad>(@item.Id,item))
                }
                </select>
            </div>

            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="TipoSubsidio" class="control-label"></label>
                <select id="lstSubsidios" name="lstSubsidios" class="form-control">
                    @foreach (var item in Model.LstTipoSubsidio)
                {
                    @Html.Raw(getSelect<ENT.Ent.TblSubsidio>(@item.Id,item))
                }
                </select>
            </div>
            <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
                <label asp-for="EstadoPersona" class="control-label"></label>
                @{
                string[] status = { "Inactivo", "Activo" };}
            @Html.Raw(selectBool("", Model.EstadoPersona,status))

        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
            <label asp-for="EsVictimaConflictoA" class="control-label"></label>

            @Html.Raw(selectBool("", Model.EsVictimaConflictoA))
        </div>
        <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
            <label asp-for="EsDiscapacitado" class="control-label"></label>
            @Html.Raw(selectBool("", Model.EsDiscapacitado))
        </div>

        <div class="col-lg-4 col-md-1 col-sm-1 col-xl-4">
            <label asp-for="EsJefeHogar" class="control-label"></label>
            @Html.Raw(selectBool("", Model.EsJefeHogar))
        </div>
    </div>


    <input type="hidden" asp-for="Id" />
    <br>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>

</form>

@functions {
    public string getSelect<T>(int Id, dynamic item)
    {
        string validation = Model.IdTipoDocumento == Id ? "selected" : "";
        return $"<option value='{Id}' {validation}> {item.Descripcion} </option>";
    }
    public string selectBool(string IdControl, dynamic values, string[] Descriptions = null)
    {
        string strHtml = $"<select id='{IdControl}' name='{IdControl}' class='form-control'>";
        string description;
        for (int i = 0; i <= 1; i++)
        {

            if (i == 0)
            {
                string validation = 0 == Convert.ToInt32(values) ? "selected" : "";
                description = validateDescription(Descriptions, "No", i);
                strHtml += $"<option value='0' {validation}> {description} </option>";
            }
            else
            {
                string validation = 1 == Convert.ToInt32(values) ? "selected" : "";
                description = validateDescription(Descriptions, "Si", i);
                strHtml += $"<option value='1' {validation}>{description} </option>";
            }
        }
        strHtml += "</select>";
        return strHtml;
    }
    public string validateDescription(string[] Descriptions, string value, int i)
    {
        if (Descriptions != null)
        {
            return Descriptions[i] == null ? value : Descriptions[i];
        }
        return value;
    }
}
<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>
